.warp-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.mainHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0A9646;
    height: 100%;
    padding: 1px 16px;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menuBtn {
    display: none;
    color: white;
    border: none;
    background-color: #0A9646;
}

.desktopMenu {
    margin-right: 50px;
    font-size: large;
    flex: 1;
    justify-content: end;
    background: transparent;
    border-bottom: none;
    text-decoration-line: none;
}

.desktopMenu .ant-menu-item {
    color: white !important;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.desktopMenu .ant-menu-item::after {
    display: none !important;
}

.desktopMenu .ant-menu-item:hover {
    background: #0ec45d !important;
}

.desktopMenu .ant-menu-item-selected {
    background: #0ec45d !important;
    font-weight: 600;
}

.desktopMenu .ant-menu-item-selected a {
    color: white !important;
}

.right {
    display: flex;
    align-items: center;
}

.right .languages-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    margin-right: 10px;
    color: white;
}

.right .languages-btn:hover {
    background-color: #0A9646 !important;
    color: rgb(207, 207, 207) !important;
}

.userBox:hover {
    opacity: 0.8;
}

.username {
    font-weight: 500;
}

.mobileMenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.mobileMenu .ant-menu {
    background: #0A9646 !important;
}

.mobileMenu .ant-menu-item {
    color: white !important;
    font-size: large;
}

.mobileMenu .ant-menu-item:hover {
    background: rgba(255, 255, 255, 0.2) !important;
}

.mobileMenu .ant-menu-item-selected {
    background: rgba(255, 255, 255, 0.3) !important;
    font-weight: 600;
}

.mobileMenu.show {
    max-height: 500px;
}

@media (max-width: 768px) {
    .desktopMenu {
        display: none;
    }

    .menuBtn {
        display: inline-flex;
    }
}