.leaflet-routing-container {
    display: none !important;
}

.map-wrapper-expressway .map-small {
    width: 100%;
    height: 200px;
    border: 4px solid black;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease-in-out;
}

.map-wrapper-expressway .map-expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background: white;
    transition: all 0.4s ease-in-out;
}