.profile-page-wrapper .expr {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    min-height: 100vh;
    padding: 100px;
}

.profile-page-wrapper .form {
    max-width: 500;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border: 1px solid #f0f0f0;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    background-color: #fff;
}

.profile-page-wrapper .avatar {
    width: 130;
    height: 130;
    border-radius: 50%;
    object-fit: cover;
    padding: 3px;
    border: 3px solid #1890ff;
}

.profile-page-wrapper .button {
    display: flex;
    gap: 10px;
}

@media (max-width: 768px) {
    .profile-page-wrapper .expr {
        padding: 50px 20px;
    }

    .profile-page-wrapper .form {
        margin-top: 40px;
    }
}